# **Hash map and Hash Table in Python**

**What is Hashmap or Hash Table?**

> Hashmap or Hash table is type of Data Structure that maps **Keys** to their **Value** pairs.

> It is Implement abstract array data type.

# **Creating Dictionaries**

1. Using Curly Braces **`{}`**

In [ ]:
my_dict = {'Rahul' : '001', 'Dave' : '002' , 'Adam' : '003'}
print(my_dict)
type(my_dict)

{'Rahul': '001', 'Dave': '002', 'Adam': '003'}

dict

2. Using **`dict()`** function

In [ ]:
#empty dictionary

new_dict = dict()
print(new_dict)
type(new_dict)

{}

dict

In [ ]:
new_dict = dict(dave = '001' , Ava = '002')
print(new_dict)
type(new_dict)

{'dave': '001', 'Ava': '002'}

dict

# **Nested Dictionaries**


>Nested Dictionaries are  basically dictionaries that lies within other dictionaries

In [ ]:
emp_details = {'Employee' :{ 'Dave' :{'id' : '001' , 'Salary' : '2000', 'Designation' : 'Team Lead'} ,
                             'Ava':{'id' : '002' , 'Salary' : '4000', 'Designation' : 'Associate'}}}
print(emp_details)

{'Employee': {'Dave': {'id': '001', 'Salary': '2000', 'Designation': 'Team Lead'}, 'Ava': {'id': '002', 'Salary': '4000', 'Designation': 'Associate'}}}

# **Performing Operation in Hash Tables**



#  1. Accessing Items

In [ ]:
#using Keys
my_dict['Rahul']

'001'

In [ ]:
#using Keys() Function
my_dict.keys()

dict_keys(['Rahul', 'Dave', 'Adam'])

In [ ]:
#using Values() Function
my_dict.values()

dict_values(['001', '002', '003'])

In [ ]:
#using Get('keys') -> Values 
my_dict.get('Rahul')

'001'

In [ ]:
#using For Loop
for i in my_dict:
  print(i)

Rahul
Dave
Adam

In [ ]:
#print all keys
for i in my_dict.keys():
  print(i)

Rahul
Dave
Adam

In [ ]:
#print all values
for i in my_dict.values():
  print(i)

001
002
003

In [ ]:
#using Item Function (i,x) -> (Keys,Values) 
for i,x in my_dict.items():
  print(i,x)

Rahul 001
Dave 002
Adam 003



#  2. Updating Items


> Dictionaries are mutable data type and you can update them as and when  required.

In [ ]:
#updating the value
my_dict['Rahul'] = '004'
print(my_dict)

{'Rahul': '004', 'Dave': '002', 'Adam': '003'}

In [ ]:
#add new key->value pair
my_dict['Rohan'] = '005'
print(my_dict)

{'Rahul': '004', 'Dave': '002', 'Adam': '003', 'Rohan': '005'}

# 3.  Deleting Items

In [ ]:
#using pop() function
my_dict.pop('Adam')
print(my_dict)

{'Rahul': '004', 'Dave': '002', 'Rohan': '005'}

In [ ]:
#using popitem() function -> Remove Last item of dictionary
my_dict.popitem()

('Rohan', '005')

In [ ]:
#using del 
del my_dict['Dave']
print(my_dict)

{'Rahul': '004'}

# Converting Dictionaries to DataFrame


> DataFrame is 2-D Data structure  that consists columns of Various types. similar like python Dictionaries or you can convert dict to pandas Dataframe.

In [ ]:
import pandas as pd
df = pd.DataFrame(emp_details['Employee'])
print(df)

                  Dave        Ava
id                 001        002
Salary            2000       4000
Designation  Team Lead  Associate