<a href="https://colab.research.google.com/github/vraj857/Python-Tutorial/blob/main/Tuple_%26_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tuple**

> tuples are **immutable(unchanged)** ordered sequences of elements.

>  The difference is that the elements of a tuple **need not be characters**.

>The individual elements can be of any type, and need not be of the same type as each other.

>  It is not possible to assign to the individual items of a tuple, however it is possible to create tuples which **contain mutable objects**, such as lists


> Object state cannot be modified. Once the object is **created, we cannot add, remove or update elements, append & extend**.


> **String, Integer, Tuples, Ranges, Set & Frozenset** are some of the immutable object types in python

> **Tuples are faster than lists**. If you're defining a constant set of values and all you're ever going to do with it is iterate through it, use a tuple instead of a list.

> It makes your code safer if you “write-protect” data that does not need to be changed. Using a tuple instead of a list is like having an implied assert statement that this data is constant, and that special thought (and a specific function) is required to override that.

> Some tuples can be used as dictionary keys (specifically, tuples that contain immutable values like strings, numbers, and other tuples). Lists can never be used as dictionary keys, because **lists are not immutable**.



> If you think of a tuple just as an immutable list, the quantity and the order of the items
may or may not be important, depending on the context. But **when using a tuple as a collection of fields the number of items is often fixed and their order is always vital.**

In [ ]:
# tuple with empty elements
t1 = ()
print(t1)

()

In [ ]:
#a tuple with one item is constructed by following a value with a comma (it is not sufficient to enclose a single value in parentheses)
singleton = 'hello',
print(singleton)

#Literals of type tuple are written by enclosing a comma-separated list of elements within parentheses
t2 = (1, 'two', 3)
print(t2)

('hello',)
(1, 'two', 3)

In [ ]:
#Like strings, tuples can be concatenated, indexed, and sliced
print("Concatenated : ",t2 + singleton)
print("indexed : ", (t2 + singleton)[1])
print("sliced : ", (t2 + singleton)[1:3])

Concatenated :  (1, 'two', 3, 'hello')
indexed :  two
sliced :  ('two', 3)

In [ ]:
# tuple to list conversion
my_list = list(t2)
print(my_list)

#tuple to dictionary
t4 = ((1,'hellow'),(2,'word'))
my_dict = dict(t4)
print(my_dict)

[1, 'two', 3]
{1: 'hellow', 2: 'word'}

**Tuple Unpacking/packing**


> When we create a tuple, we normally assign values to it. **This is called "packing" a tuple.**


> we are also allowed to extract the values back into variables. **This is called "unpacking"**


>  The number of variables must match the number of values in the tuple, if not, you must use an asterisk (*) to collect the remaining values as a list.

In [ ]:
#tuples being used as records. Note that in every expression below,
#sorting the tuple would destroy the information because the meaning of each data item
#is given by its position in the tuple.

city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014) # unpacking tuple
print(city, year, pop, chg, area)

#The for loop knows how to retrieve the items of a tuple separately — this is
#called “unpacking”.

traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'),('ESP', 'XDA205856')]
for passport in sorted(traveler_ids):
  print('%s/%s' % passport)

Tokyo 2003 32450 0.66 8014
BRA/CE342567
ESP/XDA205856
USA/31195855

## **Set**


> A set is a collection of unique objects. A basic use case is removing duplication & unorderd and Unindexed.


> **Set it self mmutable** but **elements must be immutabl**e.




> Smart use of set operations can reduce both the **line count** and the **run time of Python programs**, at the same time making code easier to read and reason about — by removing loops and lots of conditional logic.


> NOTE : to create an empty set, use the constructor without an
argument: **set()**. If you write `{}`, you’re creating an **empty dict** —
this hasn’t changed.


> the set types implement the essential set operations as infix operators, so, given two sets a and b, `a | b` returns their **union**, `a & b` computes the **intersection**, and `a - b` **the difference**.

In [ ]:
# basic set syntax
Cset = {'Hello','Word'}
print(Cset, type(Cset))

{'Hello', 'Word'} <class 'set'>

In [ ]:
#Calling set constructor
Cset1 = set({'1'})
print(Cset1,type(Cset1))

{'1'} <class 'set'>

In [ ]:
#add element  into the set
Cset1.add('2')
print(Cset1)

#remove element into the set
Cset1.remove('2')
print(Cset1)

#updates the current set, by adding items from another set (or any other iterable).
Cset1.update(Cset)
print(Cset1)

{'Hello', 'Word', '2', '1'}
{'Hello', 'Word', '1'}
{'Hello', 'Word', '1'}

# **namedtuple**


> normal  Tuples do double-duty: **they can be used as immutable lists** and also **as records with no field names. sometimes it is desirable to name the fields. That is why the  namedtuple function was invented**. 
so inshort  we create tuple with callable name.


>  You can access the values in a given named tuple using the dot notation and the field names.

In [ ]:
from collections import namedtuple

#Two parameters are required to create a named tuple: a class name and a list of
#field names, which can be given as an iterable of strings or as a single spacede limited string.
City = namedtuple('City', 'name country population coordinates')

#Data must be passed as positional arguments to the constructor
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))

#You can access the fields by name or position.
print(tokyo.country)
print(tokyo.coordinates)
print(tokyo[2])

JP
(35.689722, 139.691667)
36.933

**named tuple type has a few attributes in addition to those inherited from tuple**.

1. `_fields` :  it is a tuple with the field names of the class.
2. `_make()` : `_make()` lets you instantiate a named tuple from an iterable
3. `_asdict()` : returns a `collections.OrderedDict` built from the named tuple
instance. That can be used to produce a nice display data.

In [ ]:
City._fields

('name', 'country', 'population', 'coordinates')

In [ ]:
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))
delhi = City._make(delhi_data)
delhi

City(name='Delhi NCR', country='IN', population=21.935, coordinates=LatLong(lat=28.613889, long=77.208889))

In [ ]:
delhi._asdict()
for key, value in delhi._asdict().items():
  print(key + ':', value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)